.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
}

.link {
  margin-top: 5px;
  text-decoration: underline;
  color: blue;
}

.button {
  background: green;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-top: 5px;
  cursor: pointer;
}

.splitContainer {
  display: flex;
  margin-top: 50px;
}

.splitCol {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
